#dark-mode-toggle {
    margin-top: 0;
}

.tagCloud .tagCloud-tags a {
    color: var(--accent-color-text) !important;
    background-color: var(--accent-color) !important;
    transition: background-color 0.5s ease;
    box-shadow: none !important;

    &:hover {
        color: var(--accent-color-text) !important;
        background-color: var(--accent-color-darker) !important;
        box-shadow: none !important;
    }
}
